<footer class="footer">
    <div class="container footer-content">
        <p>Web project developed by Mikhaeil Mina</p>
        <p>2nd Year, 2nd Semester</p>
        <div class="social-links">
            <a href="https://github.com/elsheena" target="_blank" class="social-link">
                <img src="../images/github-icon.svg" alt="GitHub" class="social-icon"> GitHub
            </a>
            <a href="https://t.me/elsheena" target="_blank" class="social-link">
                <img src="../images/telegram-icon.svg" alt="Telegram" class="social-icon"> Telegram
            </a>
        </div>
    </div>
</footer> 