<header>
    <div class="container header-content">
        <a href="/" class="logo">ElsheenaEats</a>
        <nav class="nav-links">
            <div class="cart-container">
                <a href="cart.html" class="nav-link">Cart</a>
                    <span id="cart-counter" class="cart-counter"></span>            </div>                
            <a href="orders.html" class="nav-link auth-required">Orders</a>
            <a href="profile.html" class="nav-link auth-required">Profile</a>
            <a href="login.html" class="nav-link auth-hide">Login</a>
            <button id="logout-btn" class="nav-link auth-required logout-btn">Logout</button>
        </nav>
    </div>
</header> 